{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

<script type="text/javascript">

function getPagina(pagina_pk, div_id) {
	pagina = document.getElementById("#"+div_id);
	console.log("link_para: "+pagina_pk);
	var url = "/get/pagina/"+pagina_pk;
    $.get(url, function(data) {
    		pagina.innerHTML = data.pagina.title;
    	});
};

</script>

{% if page.pagina %}

	<p>é página</p>
	{{ page.description }}

{% elif page.submenus %}

	{% for botao in page.submenus.botoes.all %}
		<p><a href="#" onClick="getPagina({{ botao.link_para.pk }}, '{{ botao.link_para.slug }}')">{{ botao }}</a></p>
		<div id="#{{ botao.link_para.slug }}"></div>
	{% endfor %}

{% endif %}

{% endblock %}
