{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

<script type="text/javascript">

function goto(pagina_pk, div_id, parent) {
	var formatedSlug = div_id.replace("/", "-");
    $("#goto_div").attr("id", formatedSlug);
    var divID = document.getElementById(formatedSlug);
	var url = "/get/pagina/"+pagina_pk;
	var returnDivID = parent + "-nav";

    $.get(url, function(data) {
		if (data.class == "page") {
			divID.innerHTML = "<div class='page-back-button' onclick=\"gotoBack('" + returnDivID + "','"+ formatedSlug +"');\"></div><div class='page-container'><div class='page-text-wrapper-TTFBI'><h1>" + data.pagina.title + "</h1><div class='page-text-TTFBI'><p>" + data.pagina.description + "</p></div><div class='page-text-footer-TTFBI'><p>" + data.pagina.rodape + "</p></div><div class='page-text-buttons-TTFBI'><div class='button button-submit' style='width: 110px;'><a href=''>Centros Associados</a></div></div></div></div>";
			// FIXME: paragraphs in data.pagina.description & data.pagina.rodape
        
		} else if (data.class == "submenus") {
			var str = "<nav id='" + data.pagina.slug + "-nav' class='page-subnav'>";
			var menuLinks = "";
			
			$.each(data.botoes, function(index, element) {
				menuLinks += "<a href='#' onClick=\"goto('" + element.link_para + ",'" + element.slug + "')\"><h1>" + element.titulo + "</h1><h2>" + element.descricao + "</h2></a>";
			});
			
			str += menuLinks;
			str += "</nav>";

			divID.innerHTML = str;

			setNavCss(data.pagina.slug + "-nav", Object.keys(data.botoes).length);
			setZindexOrder("#" + data.pagina.slug + "-nav a");
		} else if (data.class == "contact") {
			divID.innerHTML = "<div id=" + data.pagina.slug + " class='page'><div class='page-back-button' onclick=\"gotoBack('" + returnDivID + "','"+ formatedSlug +"');\"></div><div class='page-container'><div class='page-text-wrapper-C'><h1>" + data.pagina.title + "</h1><div class='page-text-C'><p>" + data.pagina.endereco + "</p><br><p>Email: " + data.pagina.email + "</p><p>Telefone: " + data.pagina.telefone + "</p><p>Fax: " + data.pagina.fax + "</p><p>Web: " + data.pagina.website + "</p></div></div><img class='page-contact-img' src='#'></div></div>";
            
		} else if (data.class == "list") {
			var str = "<div class='list-wrapper'><h1>" + data.pagina.title + "</h1><div class='list-container'>";

			$.get(url, function(list_data) {
				var item = jQuery.parseJSON(list_data.pagina.items);
				alert(item);
					if (index == 0) {
						str += "<div class='list-item-category'><h1>" + category_data.nome + "</h1>";
					} else {
						str += "<div class='list-item'>";
					}

					str += "<h2>" + item[index].fields.titulo +"</h2><div class='list-item-parag-wrapper'><p class='list-item-parag-bold'>Candidatura:</p><p>"+ item[index].fields.candidatura +"</p></div>";

                    str += "<div class='list-item-parag-wrapper'><p class='list-item-parag-bold'>Fonte de Financiamento:</p><p>" + item[index].fields.financiamento + "</p></div>";

                    str += "<div class='list-item-parag-wrapper'><p class='list-item-parag-bold'>Unidade:</p><p>" + item[index].fields.unidade + "</p></div>";

                    str += "<div class='list-item-parag-wrapper'><p class='list-item-parag-bold'>Responsável:</p><p>" + item[index].fields.responsavel + "</p></div></div>";
				
				str += "</div></div>";
				divID.innerHTML = str;
			});
		}

        $(".content-container").animate({"left": -($(divID).position().left)}, 600);
    });
};

</script>

{% if page.pagina %}
{% elif page.submenus %}
	<nav id="{{page.submenus.slug}}-nav" class="page-subnav">
		{% for botao in page.submenus.botoes.all %}
			<a href="#" onClick="goto({{ botao.link_para.pk }}, '{{ botao.link_para.slug }}', '{{ page.submenus.slug }}')">
	        	<h1>{{ botao }}</h1>
	        </a>
		{% endfor %}
	</nav>
	
    <div id="goto_div" class="page">

	</div>
{% endif %}
<script>
	setNavCss("{{page.submenus.slug}}-nav","{{page.submenus.botoes.count }}");
	setZindexOrder("#{{page.submenus.slug}}-nav a");	
</script>
{% endblock %}

