{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<div id="img1" class="page sidebar-img" style="background: red;">
</div>
<div id="img2" class="page sidebar-img" style="background: blue;">
</div>
<!-- TODO: adicionar o slider como objeto da base de dados -->
{% endblocktrans %}

{% endblock %}
